@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    font-family: 'Fredoka', sans-serif;
}

@layer utilities {
  .animate-fade-out {
    animation: fadeOut 0.4s ease-out;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
